ms-fabric/Open Payment Pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": {
            "value": "@concat(pipeline().parameters.base_path_open_payment, pipeline().parameters.relative_path_metastore_schemas_dataset_items, '/',pipeline().parameters.identifier_general_payment, '?show-reference-ids=false')",
            "type": "Expression"
          },
          "headers": {}
        },
        "externalReferences": {
          "connection": "202de405-b02f-4510-b7f6-ef0e32053bd0"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "General Payment Dataset Metastore",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": {
                    "value": "@replace(activity('General Payment Dataset Metastore').output.distribution[0].data.downloadURL, 'https://download.cms.gov', '')\r\n",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "eddfec7d-1233-4f5b-888d-0aec98e33e44"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "dataset"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "5167cf38-1211-43be-9355-2098ac37d52d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingest General Payments Dataset",
        "dependsOn": [
          {
            "activity": "General Payment Dataset Metastore",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": {
            "value": "@concat(pipeline().parameters.base_path_open_payment, pipeline().parameters.relative_path_metastore_schemas_dataset_items, '/',pipeline().parameters.identifier_research_payment, '?show-reference-ids=false')",
            "type": "Expression"
          },
          "headers": {}
        },
        "externalReferences": {
          "connection": "202de405-b02f-4510-b7f6-ef0e32053bd0"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Research Payment Dataset Metastore",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": {
                    "value": "@replace(activity('Research Payment Dataset Metastore').output.distribution[0].data.downloadURL, 'https://download.cms.gov', '')\n",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "eddfec7d-1233-4f5b-888d-0aec98e33e44"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "dataset"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "5167cf38-1211-43be-9355-2098ac37d52d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingest Research Payments Dataset",
        "dependsOn": [
          {
            "activity": "Research Payment Dataset Metastore",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "GET",
          "relativeUrl": {
            "value": "@concat(pipeline().parameters.base_path_open_payment, pipeline().parameters.relative_path_metastore_schemas_dataset_items, '/',pipeline().parameters.identifier_ownership_payment, '?show-reference-ids=false')",
            "type": "Expression"
          },
          "headers": {}
        },
        "externalReferences": {
          "connection": "202de405-b02f-4510-b7f6-ef0e32053bd0"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ownership Payment Dataset Metastore",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DelimitedTextSource",
            "formatSettings": {
              "type": "DelimitedTextReadSettings"
            },
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "HttpServerLocation",
                  "relativeUrl": {
                    "value": "@replace(activity('Ownership Payment Dataset Metastore').output.distribution[0].data.downloadURL, 'https://download.cms.gov', '')\n",
                    "type": "Expression"
                  }
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "externalReferences": {
                "connection": "eddfec7d-1233-4f5b-888d-0aec98e33e44"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "dataset"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "Raw",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "5167cf38-1211-43be-9355-2098ac37d52d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingest Ownership Payments Dataset_copy1",
        "dependsOn": [
          {
            "activity": "Ownership Payment Dataset Metastore",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "identifier_general_payment": {
        "type": "string",
        "defaultValue": "fb3a65aa-c901-4a38-a813-b04b00dfa2a9"
      },
      "identifier_research_payment": {
        "type": "string",
        "defaultValue": "ec9521bf-9d97-4603-814c-f4132d34bc4f"
      },
      "relative_path_metastore_schemas_dataset_items": {
        "type": "string",
        "defaultValue": "/metastore/schemas/dataset/items"
      },
      "base_path_open_payment": {
        "type": "string",
        "defaultValue": "/api/1"
      },
      "identifier_ownership_payment": {
        "type": "string",
        "defaultValue": "ac0bc85c-02e3-45d9-89e8-2ff43da85df7"
      }
    }
  }
}